.Pragmatic_logo {
    font-family: 'Lobster Two', cursive;
}

.Pragmatic_footer_button{
    font-size : 0.6rem;
}

.Pragmatic_footer{
    text-align: center;
    margin-top: 2rem;
}
.Pragmatic_header{
    text-align: center;
    margin: 2rem 0;
}